:root {
  --active-line-bg: hsl(62 11% 63% / 15%); /* 🏴‍☠️ */
}

.cm-active-visual-line {
  background-color: var(--active-line-bg);
  z-index: 10;
  position: absolute !important; /* everything breaks if this isn't absolute */
}