:root {
  --active-line-bg: hsl(62 11% 63% / 15%); /* 🏴‍☠️ */
}

.cm-active-visual-line {
  z-index: -1; /* this must be a value < 0 */
  padding: 2px 0; /* this is not easily changed */
  background-color: var(--active-line-bg);
  position: absolute !important; /* everything breaks if this isn't absolute */
}